body {
    font-family: 'Segoe UI';
    text-align: center;
}

h1 {
    position: relative;
}

.llama-container {
    height: 130px;
    vertical-align: middle;
}

.llama {
    width: 80px;
}

.happy {
    width: 135.6px;
}

.board {
    border-style: solid;
    position: relative;
    z-index: 1;
    margin: auto;
    /* border-collapse: collapse; */
    user-select: none;
}

td {
    font-size: x-large;
    border-style: solid;
    width: 2em;
    height: 2em;
    text-align: center;
}

.shown {
    background-color: cornflowerblue;
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.levels button {
    margin: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: lightskyblue;
    font-size: 20px;
    font-weight: 600;
}

.modal {
    position: absolute;
    z-index: 2;
    left: 37%;
    top: 30%;
    background-color: rgba(240, 255, 255, 0.8);
    width: 20%;
    padding: 30px;
    border-radius: 8px;
    outline-style: solid;
    outline-color: navy;
    display: grid;
    font-size: 20px;
    font-weight: 600;
}

.hide {
    display: none;
}

.modal button {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: lightskyblue;
    font-size: 20px;
    font-weight: 550;
}

h3>span {
    margin-inline: 30px;
}

button {
    cursor: pointer;
}

.pressed-hint {
    text-shadow: -1px 0 orangered, 0 1px orangered, 1px 0 orangered, 0 -1px orangered;
}

.hints {
    text-align: left;
}

.hidden {
    visibility: hidden;
}