body {
    font-family: 'Segoe UI';
    text-align: center;
    background-color: rgb(255, 246, 250);
    color: rgb(36, 36, 36);
}

h1 {
    position: relative;
    margin-bottom: 5px;
}

.llama-container {
    margin: 5px;
}

.llama {
    width: 120px;
    filter: drop-shadow(0px 0px 5px rgb(100, 100, 100));
}

.board {
    border-style: none;
    position: relative;
    z-index: 1;
    margin: auto;
    /* border-collapse: collapse; */
    user-select: none;
}

td {
    font-size: x-large;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 4px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color: rgba(255, 243, 226, 0.5);
}

.shown,
.shown.dark {
    background-color: rgba(100, 148, 237, 0.485);
}

.footer {
    position: fixed;
    bottom: 3px;
    right: 3px;
}

.levels button {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-style: none;

    font-size: 20px;
    font-weight: 600;
}

.modal {
    position: absolute;
    z-index: 2;
    left: calc(50% - 110px);
    top: 30%;
    background-color: rgba(240, 255, 255, 0.8);
    width: 160px;
    padding: 30px;
    border-radius: 8px;
    outline-style: solid;
    outline-color: navy;
    display: grid;
    font-size: 20px;
    font-weight: 600;
}

.hide {
    display: none;
}

.modal button {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: rgb(36, 36, 36);
    font-size: 20px;
    font-weight: 550;
}

h3>span {
    margin-inline: 20px;
}

button {
    cursor: pointer;
    background-color: lightskyblue;
    color: rgb(36, 36, 36);

}

.pressed-hint {
    text-shadow: -1px 0 orangered, 0 1px orangered, 1px 0 orangered, 0 -1px orangered;
}

.exploded {
    text-shadow: 0 0 20px orangered
}

.hints {
    text-align: left;
}

.hidden {
    visibility: hidden;
}

.minus {
    width: 1em;
    padding-right: 0;
    margin-right: 0;
    text-align: right;
}

.mines-left {
    text-align: left;
    padding-inline: 0;
    margin-inline: 0;
}

span.mine {
    padding-left: 0;
    margin-left: 0.5em;
}

.win {
    background-image: url("../img/clear_confetti.gif");
}

.lose {
    background-image: url("../img/explosion.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hinted {
    background-color: rgb(254, 239, 177);
}

.safe-cell {
    background-color: rgb(187, 255, 145);
}

body.dark {
    background-color: rgb(23, 21, 22);
    color: rgb(169, 179, 179);

}

button.dark {
    background-color: rgb(49, 89, 114);
    color: rgb(216, 231, 231);
    font-weight: 500;
}

.modal.dark {
    background-color: rgba(65, 84, 84, 0.8);
    color: rgb(216, 231, 231);
}

td.dark {
    color: rgb(216, 231, 231);
    border-color: rgb(122, 185, 185);
    background-color: rgba(36, 36, 64, 0.5);
}

.llama.dark {
    filter: drop-shadow(0px 0px 10px rgb(161, 161, 161));
}

.terminator {
    vertical-align: middle;
}

.terminator img {
    height: 2.5em;
    filter: drop-shadow(0px 0px 3px rgba(255, 0, 0, 0.495));
}

.used {
    opacity: 30%;
    filter: none
}

.mine,
.safes.dark,
.hints.dark,
.undo-btn.dark {
    text-shadow: -1px 0 rgba(255, 255, 255, 0.6), 0 1px rgba(255, 255, 255, 0.6), 1px 0 rgba(255, 255, 255, 0.6), 0 -1px rgba(255, 255, 255, 0.6);
}

.create-btn,
.dark-mode-btn,
.create-btn.dark,
.dark-mode-btn.dark {
    margin: 5px 5px 0px 5px;
    padding-inline: 15px;
    height: 20;
    border-radius: 5px;
    border-style: none;

    font-size: 17px;
    font-weight: 550;
    background: none;
}

.undo-btn,
.undo-btn.dark {
    position: absolute;
    left: calc(50% - 50px);
    top: 30px;
    background: none;
    border: none;
    height: 30px;
}

.hinted.dark {
    background-color: rgb(92, 92, 92);
}

.safe-cell.dark {
    background-color: rgb(26, 68, 0);
}
